body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}


/* шрифт меню, шрифт формы */
{
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

/* шрифт заголовка */
{
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

/* шрифт заголовка плашки белый */
{
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}


/* шрифт плашки белый */
{
  color: #ffffff;
}

/* шрифт плашки черный */
/* типовой */

/* шрифт заголовка плашки черный */
{
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

/*content head*/ {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

/*content text*/
line-height: 24px;

/* form head submit */
{
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}


/* html academy by */
{
  color: #000000;
  line-height: 26px;
}

/*хештег*/
{
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

/* ката */
{
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

/* каталог форм */
{
  color: #ffffff;
}

/* sort head*/
{
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

/* sort */
{
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

/* sort active*/
{
  color: #81b3d2;
}

/* sort disactiv*/
{
  color: #000000;
  opacity: 0.3;
}

/* hotel head */
{
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

/* reting */
{
  color: #666666;
}

/* hotel button */ {
  color: #ffffff;
  font-weight: 700;
}
