body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #333333;
  background-color: #f2f2f2;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  text-transform: uppercase;

  border: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  z-index: 1;
  top: -1px;
  left: 50%;

  -webkit-transform: translateX(-50%);

      -ms-transform: translateX(-50%);

          transform: translateX(-50%);
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
}

.site-navigation__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  padding-top: 14px;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 16px;

  text-align: left;
}

.site-navigation__link:nth-child(4n-1) {
  text-align: right;
}

.site-navigation__link:nth-child(4n) {
  padding-right: 72px;

  text-align: right;
}

.site-navigation__link:nth-child(4n + 1) {
  padding-left: 72px;
}

.site-navigation,
.footer-social,
.order ul,
.filter ul {
  list-style: none;
}

.site-navigation a,
.order {
  font-weight: 700;
  line-height: 26px;

  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: 0.3;
}

.site-navigation__link.active a {
  color: #766357;
}

.intro {
  position: relative;

  padding-top: 77px;
  padding-bottom: 78px;

  background-color: #7F7B81;
  background-image: url(../img/background_photo.jpg);
  background-repeat: no-repeat;
  background-position: 0 -83px;
}

.intro::after {
  position: absolute;
  left: 0;
  bottom: -3px;

  width: 1201px;
  height: 59px;

  content: '';

  background-image: url(../img/intro-mask.svg);
  background-repeat: no-repeat;
}

.intro__image {
  display: block;

  width: 459px;
  height: 353px;
  margin: 0 auto;
}

.intro__mask {
  position: absolute;
  bottom: -1px;
}

.about {
  line-height: 26px;

  padding-top: 60px;
  padding-bottom: 51px;

  text-align: center;
}


.about__main {
  font-size: 21px;
  font-weight: 700;

  max-width: 450px;
  margin: 0px auto;
  margin-bottom: 27px;
  padding: 0px;

  color: #000000;
}

.about__text {
  max-width: 500px;
  margin: 0 auto;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.features--grey {
  background-color: #eeeeee;
}

.features__block {
  width: 280px;
  padding-top: 47px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px;

  text-align: center;
}

.features__block--image1,
.features__block--image2,
.features__block--image3 {
  position: relative;

  padding-top: 160px;
  padding-bottom: 84px;
}

.features__block--image1::after {
  position: absolute;
  top: 59px;
  left: 50%;

  width: 75px;
  height: 72px;

  content: '';
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
}

.features__block--image2::after {
  position: absolute;
  top: 59px;
  left: 50%;

  width: 74px;
  height: 70px;

  content: '';
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
}

.features__block--image3::after {
  position: absolute;
  top: 56px;
  left: 50%;

  width: 64px;
  height: 76px;

  content: '';
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
}


.features__block--blue {
  color: #ffffff;
  background-color: #81b3d2
}

.features__block--grey {
  background-color: #eeeeee;
}

.features__block p {
  width: 280px;
  margin: 21px auto;
  margin-bottom: 0;
}

.features__header {
  font-size: 21px;
  font-weight: 700;

  width: 160px;
  margin-top: 0px;
  margin-bottom: 23px;
  margin-left: auto;
  margin-right: auto;
}

.features__header--black {
  color: #000000;
}

.features__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.form-title {
  text-align: center;
}

.form-title__header {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  margin-top: 50px;
  margin-bottom: 24px;

  color: #000000;
}

.form-title__text {
  line-height: 24px;

  max-width: 500px;
  margin-right: auto;
  margin-bottom: 47px;
  margin-left: auto;
}

.form-title__button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  width: 568px;
  padding: 30px 10px;

  cursor: pointer;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  outline: none;
  background-color: #766357;
}

.form-title__button:hover,
.form-title__button:focus {
  background-color: #604e43;
}

.form-title__button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  position: relative;

  margin-bottom: -120px;

  background-color: #7F7B81;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
}

.map--frame {
  display: block;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  90% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  90% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal--order {
  display: none;
}

.modal--nojs {
  display: block;
}

.modal--show {
  display: block;

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.order {
  position: absolute;
  left: 50%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 568px;
  min-height: 395px;
  padding: 55px;


  -webkit-transform: translateX(-50%);


      -ms-transform: translateX(-50%);


          transform: translateX(-50%);

  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;

}

.order ul {
  margin: 0;
  padding: 0;
}

.order li {
  margin-bottom: 29px;
}

.order__label {
  width: 112px;
  padding-top: 7px;
}

.order__label--child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 50px;
}

.order__datainput {
  width: 346px;
}

.order__stripe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}

.order__countinput {
  width: 114px;

  text-align: center;
}

.order__input-conteiner {
  position: relative;
}

.order__calendar-icon {
  position: absolute;
  top: 50%;
  right: 9px;

  margin: 0;
  padding: 0;

  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  color: #cacaca;
  border: none;
  background-color: transparent;
  outline: none;
}

.order__calendar-icon:hover,
.order__calendar-icon:focus {
  color: #000000;
}

.order__calendar-icon:active {
  color: #81b3d2;
}

.order__calendar-icon svg {
  fill: currentColor;
}

.order input {
  font-weight: 700;
  line-height: 26px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  min-height: 38px;
  padding-right: 10px;
  padding-left: 10px;

  text-transform: uppercase;

  color: #000000;
  border: 2px solid transparent;
  outline: none;
  background-color: #f2f2f2;
}

.order input:hover {
  background-color: #ebebeb;
}

.order input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.order__button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  width: 458px;
  padding: 16px;

  cursor: pointer;
  text-transform: uppercase;

  color: #ffffff;
  outline: none;
  background-color: #81b3d2;
}

.order__button:hover,
.order__button:focus {
  background-color: #669ec0;
}

.order__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.order__icon {
  position: absolute;
  top: 0;

  width: 38px;
  height: 38px;

  cursor: pointer;

  color: #a9a9a9;
  border: none;
  outline: none;
  background-color: transparent;
}

.order__icon--minus {
  left: 0;
}

.order__icon--plus {
  right: 0;
}

.order__icon:hover,
.order__icon:focus {
  color: #000000;
}

.order__icon:active {
  color: #81b3d2;
}

.order__icon svg {
  fill: currentColor;
}

.footer-copyright {
  color: #000000;
  line-height: 26px;
}

.hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  color: #000000;
}


.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 28px;
  padding-right: 72px;
  padding-bottom: 6px;
  padding-left: 72px;

  color: #ffffff;
  background-color: #7F7B81;
  background-image: url(../img/filter_background.jpg);
  background-repeat: no-repeat;
  background-position: center;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filter__fieldset {
  width: 254px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter__fieldset--right {
  width: 318px;
}

.filter__checkbox-label {
  position: relative;

  display: block;

  margin-bottom: 25px;

  cursor: pointer;
}

.filter__checkbox-label::before {
  position: absolute;
  top: -2px;
  left: -40px;

  display: block;
  width: 27px;
  height: 23px;

  content: '';

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter__checkbox:checked + .filter__checkbox-label::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter__checkbox:disabled + .filter__checkbox-label::before {
  background-image: url(../img/checkbox-off-disabled.svg);
}

.filter__checkbox:checked:disabled + .filter__checkbox-label::before {
  background-image: url(../img/checkbox-on-disabled.svg);
}

.filter__checkbox:focus + .filter__checkbox-label {
  outline: -webkit-focus-ring-color auto 5px;
}

.filter__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__legend {
  font-size: 16px;
  font-weight: 700;

  margin-bottom: 10px;
}

.filter__button {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  display: block;

  margin: 0;
  margin-left: 85px;
  padding: 6px 34px 5px 34px;

  text-transform: uppercase;

  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  background-color: transparent;
}

.filter__button:hover,
.filter__button:focus {
  color: #000000;
  background-color: #ffffff;
}

.filter__price-field {
  font-size: 0;

  position: relative;

  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter__price-field::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  content: '';
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  background: #ffffff;
}

.filter__price-field label {
  font-size: 14px;
  line-height: 32px;

  display: inline-block;

  cursor: pointer;
  vertical-align: top;
}

.filter__price-field .price-min,
.filter__price-field .price-max {
  width: 85px;
  padding-left: 65px;
}

.filter__price-window {
  width: 50px;

  cursor: pointer;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  outline: none;
  background-color: transparent;
}

.filter__range-controls {
  position: relative;

  margin-bottom: 32px;
}

.filter__range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.filter__range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);

  background: #1c4f80;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: 86px;
  padding: 0 72px;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sort__counter {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding-right: 47px;
}

.sort__type-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  padding-top: 3px;
  padding-right: 39px;

  color: #000000;
}

.sort__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  max-width: 600px;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
}

.sort__button {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  margin-top: 3px;
  margin-right: 33px;

  cursor: pointer;

  opacity: 0.3;
  color: #000000;
  border-bottom: 1px dotted #81b3d2;
  outline: none;
}

.sort__button:hover,
.sort__button:focus {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  opacity: 1;
  color: #81b3d2;
}

.sort__button:active {
  opacity: 1;
  color: #000000;
  border-bottom: 1px dotted transparent;
}

.sort__button.active {
  opacity: 1;
  color: #81b3d2;
  border-bottom: 1px dotted transparent;
}

.icon-dir {
  margin-left: 10px;
  padding: 0;

  cursor: pointer;

  border: none;
  outline: none;
  background: none;
}

.icon-dir:first-child {
  margin-top: 2px;
}

.icon-dir:hover path {
  fill: #000000;
}

.icon-dir:active path {
  fill: #81b3d2;
}

.icon-dir.active path {
  fill: #81b3d2;
}

.icon-dir:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  min-height: 150px;
  padding: 0 72px;
  padding-top: 24px;
  padding-bottom: 30px;

  border-top: 1px solid #e5e5e5;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}

.hotel:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel__info-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 258px;
  margin-left: 30px;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}

.hotel__image {
  padding-top: 6px;
}

.hotel__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-bottom: 6px;
}

.hotel__texts span {
  display: block;

  width: 116px;
}

.hotel__bottons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}

.hotel__rating-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}


.hotel__header {
  margin: 0;
}

.hotel__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  color: #000000;
}

.hotel__title:hover {
  color: #81b3d2;
}

.hotel__title:active {
  opacity: 0.3;
}

.hotel__rating {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 110px;
  min-height: 27px;
  padding-top: 4px;

  text-align: center;

  color: #666666;
  background-color: #f2f2f2;
}

.hotel__botton {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding: 3px 17px;
}


.hotel__detail {
  font-weight: 700;

  width: 110px;

  text-align: center;

  color: #ffffff;
  background-color: #81b3d2;
}

.hotel__detail:hover {
  background-color: #669ec0;
}

.hotel__detail:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel__booking {
  font-weight: 700;

  display: block;

  width: 142px;
  min-height: 27px;

  text-align: center;

  color: #ffffff;
  background-color: #766357;
}

.hotel__booking:hover {
  background-color: #604e43;
}

.hotel__booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel__rating-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating {
  width: 18px;
  height: 17px;
  margin-top: 5px;
  margin-left: 6px;

  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: 120px;

  opacity: 0.9;
  background-color: #fefefe;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer__flex-item {
  width: 400px;

  text-align: center;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  max-width: 400px;
  padding: 0;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 46px;
  height: 48px;
  margin: 3px;

  background-color: #81b3d2;

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social__link:hover {
  background-color: #669ec0;
}

.footer-social__link:active {
  background-color: #5496bd;
}


.footer-social__link:active svg {
  opacity: 0.3;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 197px;
  margin: 0 auto;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright:hover path {
  fill: #81b3d2;
}

.footer-copyright:active path {
  fill: #bdbbbc;
}
